# This is a basic workflow to help you get started with Actions

name: DPT.ZDooM.CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the lzdoom_funcs branch
on:
  push:
    branches: [ lzdoom_funcs ]
  pull_request:
    branches: [ lzdoom_funcs ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: create-7z-action
        # You may pin to the exact commit or the version.
        # uses: DuckSoft/create-7z-action@30aebf13e5197fee28c0aa2c65c2956041a524ab
        uses: DuckSoft/create-7z-action@v1.0
        with:
          # file/folder path to compress
          pathSource: /pk3_data
          # 7z archive path to write
          pathTarget: DPT-HQ-Core-SNAPSHOT.pk7

      # Upload arifact
      - name: Upload arifact
        uses: actions/upload-artifact@v2
        with:
          name: dpt-hq-core
          path: |
            /*.pk7
